.error {
   width: 100%;
   padding: 120px 040px;
   display: flex;
   flex-direction: column;
   gap: 24px;
   align-items: center;
   justify-content: center;
}

.error h2 {
   font-size: 56px;
   text-align: center;
   font-weight: 800;
}

.error p {
   font-weight: 500;
   font-size: 24px;
   opacity: 0.8;
}